@font-face {
  font-family: "MondwestReg";
  src: url("../bin/fonts/Mondwest/Mondwest-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "MondwestBld";
  src: url("../bin/fonts/Mondwest/Mondwest-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("../bin/fonts/Iosevka/iosevka-regular.woff2") format("woff2"),
    url("../bin/fonts/Iosevka/iosevka-regular.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar:horizontal {
  height: 17px;
}

::-webkit-scrollbar-corner {
  background: #dfdfdf;
}

::-webkit-scrollbar-track {
  background-image: url("../css/98css/icon/scrollbar-background.svg");
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  /* box-shadow: var(--border-raised-outer), var(--border-raised-inner); */
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff,
    inset -2px -2px #808080, inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url("../css/98css/icon/button-up.svg");
}
::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url("../css/98css/icon/button-down.svg");
}
::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url("../css/98css/icon/button-left.svg");
}
::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url("../css/98css/icon/button-right.svg");
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("../css/98css/fonts/converted/ms_sans_serif.woff") format("woff");
  src: url("../css/98css/fonts/converted/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

button {
  font-family: "Pixelated MS Sans Serif";
  font-size: 12px;
  /* cursor: url("../bin/images/Cursor79.png"), auto !important; */
  box-sizing: border-box;
  border: none;
  background: #c0c0c0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff,
    inset -2px -2px #808080, inset 2px 2px #dfdfdf;
  border-radius: 0;

  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
}

button:not(:disabled):active {
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px #808080;
  padding: 2px 11px 0 13px;
}

@media (not(hover)) {
  button:not(:disabled):hover {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
      inset -2px -2px #dfdfdf, inset 2px 2px #808080;
  }
}

button:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

button::-moz-focus-inner {
  border: 0;
}

:disabled,
:disabled + label {
  color: #808080;
  text-shadow: 1px 1px 0 #ffffff;
}

html {
  user-select: none;
  /* cursor: url("../bin/images/Cursor79.png"), auto !important; */
  -webkit-font-smoothing: none !important;
}

body {
  padding: 6px;
  -webkit-font-smoothing: none;
  /* zoom: 200%; */
  margin: 0;
}

h1 {
  font-family: "MondwestBld";
  font-weight: 400;
  font-size: 40px;
  padding-top: 0;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}

div,
a,
li {
  font-family: "MondwestReg";
  font-weight: 400;
  /* font-size: 36px; */
  font-size: 20px;
  line-height: 1.2;
  margin-top: 0;
  padding-bottom: 10px;
}

p {
  font-family: "MondwestReg";
  font-weight: 400;
  /* font-size: 36px; */
  font-size: 20px;
  line-height: 1.2;
  margin-top: 0;
}

.Typewriter__cursor {
  /* animation: none !important; */
  /* animation: Typewriter-cursor 1s infinite; */
  animation-duration: 1.25s !important;
  animation-timing-function: step-end !important;
  animation-delay: 0.35s !important;
  /* animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: Typewriter-cursor; */
  font-family: "Iosevka Web";
  font-size: 16px;
}

h1 .Typewriter__cursor {
  /* animation: none !important; */
  /* animation: Typewriter-cursor 1s infinite; */
  animation-duration: 1.25s !important;
  animation-timing-function: step-end !important;
  animation-delay: 0.35s !important;
  /* animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: Typewriter-cursor; */
  font-family: "Iosevka Web";
  font-size: 20px;
}
