body {
  overflow: hidden;
}

.window {
  width: 426px;
  height: 226px;
  /* min-height: auto; */
  overflow: hidden;
}

#aMod-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

aMod-logo {
  width: 30px;
  height: 30px;
}

#aMod-content {
  padding-left: 14px;
  margin-top: 0;
  padding-top: 0;
}

#aMod-content-el1 {
  margin-top: 1px;
}

p {
  line-height: 1.2;
  margin: 8px 0;
}
