@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("../bin/fonts/Iosevka/iosevka-regular.woff2") format("woff2"),
    url("../bin/fonts/Iosevka/iosevka-regular.ttf") format("truetype");
}

@font-face {
  font-family: "MondwestReg";
  src: url("../bin/fonts/Mondwest/Mondwest-Regular.woff2") format("woff2");
}

body {
  overflow: hidden;
}

.window {
  width: 426px;
  height: 226px;
  /* min-height: auto; */
  overflow: hidden;
}

#aMod-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

aMod-logo {
  width: 30px;
  height: 30px;
}

#aMod-content {
  padding-left: 14px;
  margin-top: 0;
  padding-top: 0;
}

#aMod-content-el1 {
  margin-top: 1px;
}

p {
  line-height: 1.2;
  margin: 8px 0;
}
