/* disable selection */
/* https://gist.github.com/Splode/a2ae4f5dbfaca98efad9f93f51832146 */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
input,
button,
textarea,
:focus {
  outline: none;
}

/* disable image and anchor dragging */
a:not([draggable="true"]),
img:not([draggable="true"]) {
  -webkit-user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"]
{
  -webkit-user-drag: auto;
}

.auto {
  cursor: url("../bin/images/Cursor79.png") !important;
}

body {
  cursor: url("../bin/images/Cursor79.png") !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: none !important;
  /* cursor: url("../bin/images/Cursor79.png") !important; */
}

body > * {
  -webkit-font-smoothing: none !important;
  /* TODO: Change cursor to my own recreation */
}

.title-bar {
  -webkit-app-region: drag;
}

.title-bar-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#minimiseWindow {
  -webkit-app-region: no-drag;
}

#maximiseWindow {
  margin-left: 1px !important;
  -webkit-app-region: no-drag;
}

#closeWindow {
  margin-left: 1px !important;
  -webkit-app-region: no-drag;
}

/* Change scrollbar background and button icons */

/* ::-webkit-scrollbar-track {
  background-image: url("../icon/scrollbar-background.svg") !important;
}

::-webkit-scrollbar-button:vertical:start {
  background-image: url("../icon/button-up.svg") !important;
}

::-webkit-scrollbar-button:vertical:end {
  background-image: url("../icon/button-down.svg") !important;
}

::-webkit-scrollbar-button:horizontal:start {
  background-image: url("../icon/button-left.svg") !important;
}

::-webkit-scrollbar-button:horizontal:end {
  background-image: url("../icon/button-right.svg") !important;
} */

/* Change checkbox icons */

/* input[type="checkbox"]:checked + label::after {
  background: url("../icon/checkmark.svg") !important;
} */

/* Remowe trangle arrows in list view */
details summary::-webkit-details-marker {
  display: none;
}

/* Menu bar */

.menubar {
  margin: 4px 0 6px 0;
}

.menubar button {
  color: black;
  outline: none;
  text-decoration: none;
  padding: 1px 1px;
  min-width: unset;
  min-height: unset;
  box-shadow: unset;
}

.menubar button:disabled,
.menubar button[disabled] {
  color: var(--dialog-gray);
}

.menubar button:hover:not([disabled]) {
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 2px;
  box-shadow: none;
}

.menubar button:not(:disabled):active {
  box-shadow: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--window-frame), inset -2px -2px var(--button-face),
    inset 2px 2px var(--button-shadow);
  padding: 1px 1px;
  outline: none;
}

.menubar button:focus {
  outline: none;
  box-shadow: none;
}
