body {
  min-width: 796px;
  min-height: 596px;
  overflow: hidden;
}

.window {
  /* min-height: 594px; */
  width: 794px;
  height: 594px;
}

#findBar {
  width: 76vw;
}

#titleBarIcon,
#titleBarIcon:hover,
#titleBarIcon:active,
#titleBarIcon:focus {
  outline: none;
  padding: 0;
  margin-right: 2px;
  background-image: url("../bin/images/titleBarIcon.png") !important;
  width: 12px;
  height: 12px;
  min-width: unset;
  min-height: unset;
  box-sizing: unset;
  box-shadow: unset;
}
