body {
  min-width: 796px;
  min-height: 596px;
  overflow: hidden;
}

.window {
  /* min-height: 594px; */
  width: 794px;
  height: 594px;
}

#findBar {
  width: 70vw;
}

#titleBarIcon,
#titleBarIcon:hover,
#titleBarIcon:active,
#titleBarIcon:focus {
  outline: none;
  padding: 0;
  margin-right: 2px;
  background-image: url("../bin/images/titleBarIcon.png") !important;
  width: 12px;
  height: 12px;
  min-width: unset;
  min-height: unset;
  box-sizing: unset;
  box-shadow: unset;
}

#mainSearchSection {
  padding-bottom: 10px;
}

#mainIndexContentContainer {
  height: 82vh;
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
}

#mainIndexSection {
  height: 100%;
  max-width: 19%;
  /* float: left; */
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  /* padding: 0; */
}

#mainContentSection {
  height: calc(100% + 12px);
  max-width: 78%;
  /* float: right; */
  box-shadow: var(--border-field);
  flex: 1;
  /* padding: 6px; */
  padding: 0;
  border: 0;
  z-index: 10;
}

ul.tree-view details > summary:before {
  font-size: 10px !important;
}

ul.tree-view details[open] > summary:before {
  font-size: 10px !important;
}

#mainIndexContentContainer > * {
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar:horizontal {
  height: 17px;
}

::-webkit-scrollbar-corner {
  background: #dfdfdf;
}

::-webkit-scrollbar-track {
  background-image: url("./98css/icon/scrollbar-background.svg");
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  /* box-shadow: var(--border-raised-outer), var(--border-raised-inner); */
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff,
    inset -2px -2px #808080, inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url("./98css/icon/button-up.svg");
}
::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url("./98css/icon/button-down.svg");
}
::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url("./98css/icon/button-left.svg");
}
::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url("./98css/icon/button-right.svg");
}
